{% extends "SteamBoatBundle:Default:page.html.twig" %}

{% block content %}
    <p class="important">
        <a href="http://steamcommunity.com/profiles/{{ id.getSteamId64 }}">
            <span>{{ id.getNickname }}</span>
        </a>
    </p>
    <p>
        <table>
            {% for friend in friends %}
                <tr>
                    <td>
                        <a href="http://store.steampowered.com/profiles/{{ friend.getId }}" target="_blank">
                            {{ friend.getNickname }}
                        </a>
                    </td>
                    <td><td/>
                </tr>
            {% endfor %}
        </table>
    </p>
{% endblock %}
